body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

.App {
  text-align: center;
  
}

.Tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: wheat;
}

.Tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 12px;
  font-size: 12px;
}

.Tabs button:hover {
  background-color: skyblue;
}

/* .containFade{
  opacity:0;
  animation:show 5s 2s backwards;
}

@keyframes show {
  to {opacity:1}
} */